<h1>Admin Dashboard</h1>

<div class="alert alert-warning" role="alert"> 
<h4>The current count of <%= link_to "products","/admin/products"%> in the catalogue is: <%= @count_products%></h4>
</div>
<h4 class="alert alert-warning"> The current number of categories in the catalogue is:  <%= @count_categories%></h4>